aside {
    width: 250px;
    background-color: #3760e6;
    padding: 20px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 100px;
    box-shadow: inset 0 -5px 15px rgba(0, 0, 0, .3);
    z-index: 10;
}

aside ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside ul li a {
    text-decoration: none;
    color: #f4f4f4;
    font-weight: 600;
}

aside ul li a:hover {
    color: #57aeff;
}

.dashboard {
    font-size: 20px;
    color: #fff;
    font-weight: 900;
    text-align: center;
    display: flex;
    justify-content: center;
}

.mov{
    display: none;
}

@media screen and (max-width: 768px) {
    aside {
        left: -250px;
        transition: left 0.3s ease;
    }

    #sidebar.active {
        left: 0;
    }

    .mov{
        display: block;
        position: fixed;
        width: 40px;
        top: 60px;
        left: 0;
        background-color: rgba(55, 96, 230, 0.473);
        color: #fff;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }
    
}