* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-duration: 1s;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    background-color: beige;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

div.pages {
    min-height: 100vh;
}